@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    color: black;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

:root{
    --primary-color: #5EEAD4;
    --black:black;
    --width-break:600px
}
nav{
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Work Sans', sans-serif;
    font-size: large;
}


#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}

.footer p {
    max-width: var(--width-break);
    margin: auto;
}